div#container{
    background-color: teal;
}
h3{
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
}
p{
  font-size: 15px;
  color: aquamarine;  
  background-color:bisque;
  height: 50px;
}
#p1{
    background-color: black;
    color: blanchedalmond;
    width: 32%;
    text-align: center;
    border: 1%;
}
#p2{
    position: relative;
    background-color: coral;
    color: lightskyblue;
    width: 32%;
    text-align: center;
    border: 1%;
    left: 33%;
    margin-top: -5%;
    
}
#p3{
    position: relative;
    background-color: limegreen;
    color: lightskyblue;
    width: 32%;
    text-align: center;
    border: 1%;
    left: 66%;
    margin-top: -5%;
    
}
